{% extends 'base.html' %}
{% load static %}

{% block title %} About Dr.Abdrahmanova Bibigul {% endblock %}
{% block meta_description %} This iss the website of Dr.Abdrahmanova Bibigul DMD the greatest dentist{% endblock %}
{% block content %}


  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Contact for specific servise</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Contact</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->
  
  
  <!-- ***** Contact Area Start ***** -->
  {% if message_name %}
    <center>
    <h2>Thanks {{ message_name }}!</h2>
    <p>We received your email and will respond shortly </p>
    </center>
    <br/><br/><br/>
  {% else %}
  <section class="dento-contact-area mt-50 mb-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="google-maps mb-100">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2224.7804767369375!2d76.838920038475!3d43.21798648884823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3883683374f659bb%3A0x1e546855ef9594a8!2z0KHRgtC-0LzQsNGC0L7Qu9C-0LPQuNGPINCyINCQ0LvQvNCw0YLRiw!5e0!3m2!1sru!2skz!4v1605543926899!5m2!1sru!2skz"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Contact Information -->
        <div class="col-12 col-md-4">
          <div class="contact-information">
            <h5>Address</h5>
            <p>Алматы, ул Темирязева 12</p>

            <h5>Phone</h5>
            <p>+7 747 754 87 33</p>

            <h5>Fax</h5>
            <p>Нет</p>

            <h5>Email</h5>
            <p class="mb-0">abeuov.o0705@gmail.com</p>
          </div>
        </div>

        <!-- Contact Form -->
        <div class="col-12 col-md-8">
          <div class="contact-form">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>Book An Appointment</h2>
              <div class="line"></div>
            </div>
            <!-- Form -->
            <form action="{% url 'contact' %}" onsubmit=""method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-lg-6">
                  <input type="text" name="message-name" class="form-control mb-30" placeholder="Your Name" required = "true">
                </div>
                <div class="col-lg-6">
                  <input type="email" name="message-email" class="form-control mb-30" placeholder="Your Email" required = "true">
                </div>
                <div class="col-12">
                  <textarea name="message" class="form-control mb-30" placeholder="Your Message" required = "true"></textarea>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <select name="your-schedule" class="form-control">
                      <option value="Choose Your Schedule">Choose Your Scheldule</option>
                      <option value="9 AM to 10 AM">9 AM to 10 AM</option>
                      <option value="11 AM to 12 PM">11 AM to 12 PM</option>
                      <option value="2 PM to 4 PM">2 PM to 4 PM</option>
                      <option value="8 PM to 10 PM">8 PM to 10 PM</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <select name="your-time" class="form-control">
                      <option value="Choose Your Time">Choose Your Schedule</option>
                      <option value="9 AM to 10 AM">9 AM to 10 AM</option>
                      <option value="11 AM to 12 PM">11 AM to 12 PM</option>
                      <option value="2 PM to 4 PM">2 PM to 4 PM</option>
                      <option value="8 PM to 10 PM">8 PM to 10 PM</option>
                    </select>
                  </div>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn dento-btn">Send Message</button>
                </div>
              </div>
            </form>
            {{form.errors}}
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  <!-- ***** Contact Area End ***** -->


{% endblock %}