{% extends 'base.html' %}
{% load static %}

{% block title %} About Dr.Abdrahmanova Bibigul {% endblock %}
{% block meta_description %} This is the website of Dr.Abdrahmanova Bibigul DMD the greatest dentist{% endblock %}

{% block content %}
    <!-- ***** Blog Area Start ***** -->
    <section class="dento-blog-area section-padding-100-0 clearfix">
        <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
            <div class="section-heading text-center">
                <h2>The Latest News</h2>
                <div class="line"></div>
            </div>
            </div>
        </div>



        <div class="row">
            {% for item in news_list %}
                <!-- Single Blog Item -->
                <div class="col-12 col-md-6 col-lg-4">
                <div class="single-blog-item mb-100">
                    {% if item.new.image %}
                        <img src="{{ item.new.image.url }}" style='height:270px;width:300px' alt="">
                    {% endif %}
                    <!-- Blog Content -->
                    <div class="blog-content">
                    <a href="{% url 'article_detail' item.new.pk %}" class="post-title">{{item.new.name}}</a>
                    <p>{{ item.new.content }}</p>
                    <div class="post-meta">
                        <a href="{{ item.new.a_link }}"><i class="icon_clock_alt"></i>{{ item.new.date_created }}</a>
                        <a href="#"><i class="icon_chat_alt"></i>{{ item.number_of_reviews }} Comments</a>
                        {% if user.is_authenticated %}
                            <a class="btn btn-primary" href="{% url 'review_create' item.new.pk %}">Add Comment</a>
                        {% endif %}
                    </div>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
        </div>
    </section>
    <!-- ***** Blog Area End ***** -->
{% endblock %}